
        <section id="grid">
            <div class="container large-bottom-margin">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">Ramya Iyer's SheQL Experience</h2>
                        <h3 class="small-bottom-padding">This page uses <a href="http://www.bobrosslipsum.com/" target="_blank">Bob Ross Lorem Ipsum</a></h3>

                    </div>
                </div>

                <!-- Answer this Question: What is Your Project-->


                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is my project and what makes it awesome?</h3>
                </div>
                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-blue-background">
                        <p>I set out to build a translation app that uses the Google Translate API, and allows the user to store words and phrases offline in their own personal dictionaries. The offline capability is what would make my app especially usefull as it can be used in remote areas.</p>
                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="purple-text">How did I come up with me idea?</h3>
                    </div>
                </div>

                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-purple-background">


                        <p>I came up with my idea while learning my own language, Tamil. I wanted to be able to have a dictionary on my phone, even when I didn't have WiFi, and I realized that many other people would want that as well!</p>

                    </div>
                </div>

                <div class="full-width purple-underline small-top-padding"></div>
                                <!-- Optional 4: What Will You Do For Your Project Next? -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">MVP</h3>
                    </div>
                </div>
                <div class="fulll-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                      <p>Even though I had some pretty big plans for what I wanted my project to be, I ran into a problem: I was out of town for the time that we were supposed to work on actually building it! So I had to quickly come up with a MVP (Minimally Viable Product), which would be the most minimal thing that I can make in the time I have. In this case, that would just be planning out my projects and tables, so I don't even have any code right now! That was hard for me to do at first, just because my project is super exciting and something I really want to do, but I realized that I can still complete my project and create the app of my dreams. The first step though, was for me to use the few hours that I had to learn more about databases, to study the Translate API, and to plan and name all of my tables. I think this was a really good experience for me because it taught me to break up my projects into chunks, as I won't always have the chance to finish it all at once.</p>


                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>

 




  <!-- This is the end of the div and section - don't delete! -->


                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">This Project was made for SheQL</h2>
                        <p class="small-bottom-padding">SheQL is a free, 10 week course offered to high school girls, femmes, and non-males in the Summer of 2017 by <a href="http://omahagirlswhocode.com/" target="_blank">Mystery Code Society</a> and supported with materials and space by the <a href="https://omahalibrary.org/location/
                        milton-r-abrahams-branch-blog/" target="_blank">Abrahams Branch library</a>.</p>
                        <p>This project was built using Ruby, Postgres, ActiveRecord, and Sinatra.</p>
                        <p>If you think these sites are beautiful, that is thanks to a custom front-end framework by Cara Heacock (puzzalea on github). We are so lucky to have her!</p>

                        <img src="/assets/sheql.png"  />
                    </div>
                </div>

            </div>
        </section>

